<div>
    <app-student-navbar></app-student-navbar>
    
        <section class="bg-white ">
            <div class="container px-6 py-10 mx-auto">
               
                <div class="grid grid-cols-1 gap-8 mt-8 xl:mt-16 md:grid-cols-2 xl:grid-cols-4" >
                   
                    <div *ngFor="let item of assignments$ | async">
                      
                        <div class="flex flex-col items-center p-8 transition-colors duration-300 transform border cursor-pointer rounded-xl hover:border-transparent group hover:bg-[#173753] "    (click)="navigateToPassQuiz(item.quiz?.id)">
                            <img class="object-cover w-32 h-32 rounded-full ring-4 ring-gray-300" src="https://images.unsplash.com/photo-1516979187457-637abb4f9353?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
            
                            <h1 class="mt-4 text-2xl font-semibold text-gray-700 capitalize  group-hover:text-white">{{item.quiz?.comment}}</h1>
            
                            <p class="mt-2 text-gray-500 capitalize group-hover:text-gray-300">Ends In :    {{item.endDate}}</p>
            
                            <div class="flex mt-3 -mx-2">
                                <a href="#" class="mx-2 text-gray-600 hover:text-gray-500  group-hover:text-white" aria-label="Facebook">   
                                    {{item.quiz?.duration}} <i class="fa-solid fa-hourglass-start"></i>
                                </a>

                                <a href="#" class="mx-2 text-gray-600 hover:text-gray-500  group-hover:text-white" aria-label="Reddit">
                                    {{item.chance}} <i class="fa-solid fa-splotch"></i> Chance(s) 
                                </a>
                            </div>
                        
                        </div>
                    
                </div>
                </div>
            </div>
        </section>
</div>