<div class="bg-gray-100  flex">
    <app-side-dashboard></app-side-dashboard>
    <section class="my-24 mx-12 p-8 bg-white rounded-lg w-full  ">
      <div class="flex  flex-wrap justify-around gap-8 items-center mx-auto">
        <div class=" w-[48%] h-[30vh] bg-[#2892D7]  p-8 text-white font-semibold text-lg hover:ease-in ">
        <h1>Question</h1>
        <div class="flex-white ">
        </div>
      </div>
      <div class=" w-[48%] h-[30vh]  bg-[#5EEAD4] p-8 text-white font-semibold text-lg hover:ease-in ">
        <h1>Answer</h1>
      </div>
      <div class=" w-[48%] h-[30vh]  bg-[#5EEAD4] p-8 text-white font-semibold text-lg hover:ease-in  ">
        <h1>Subject</h1>
      </div>
      <div class=" w-[48%] h-[30vh] bg-[#2892D7] p-8 text-white font-semibold text-lg hover:ease-in  ">
        <h1>Level</h1>
      </div>
    </div>
    </section>
</div>