<div class="p-8">
    <div>
        <h2 class="sr-only">Steps</h2>

        <div class="after:mt-4 after:block after:h-1 after:w-full after:rounded-lg after:bg-gray-200">
            <ol class="grid grid-cols-4 text-sm font-medium text-gray-500">
                <li class="relative flex justify-start text-[#5EEAD4]">
                    <span class="absolute -bottom-[1.75rem] start-0 rounded-full bg-[#5EEAD4] text-white">
                        <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd"
                                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                clip-rule="evenodd" />
                        </svg>
                    </span>

                    <span class="hidden sm:block">Question </span>

                    <svg class="h-6 w-6 sm:hidden" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M10 6H5a2 2 0 00-2 2v9a2 2 0 002 2h14a2 2 0 002-2V8a2 2 0 00-2-2h-5m-4 0V5a2 2 0 114 0v1m-4 0a2 2 0 104 0m-5 8a2 2 0 100-4 2 2 0 000 4zm0 0c1.306 0 2.417.835 2.83 2M9 14a3.001 3.001 0 00-2.83 2M15 11h3m-3 4h2" />
                    </svg>
                </li>

                <li class="relative flex justify-center text-gray-400">
                    <span class="absolute -bottom-[1.75rem] left-1/2 -translate-x-1/2 rounded-full bg-black text-white">
                        <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd"
                                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                clip-rule="evenodd" />
                        </svg>
                    </span>

                    <span class="hidden sm:block"> Media </span>

                    <svg class="mx-auto h-6 w-6 sm:hidden" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z" />
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z" />
                    </svg>
                </li>

                <li class="relative flex justify-end">
                    <span class="absolute -bottom-[1.75rem] end-0 rounded-full bg-gray-600 text-white">
                        <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd"
                                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                clip-rule="evenodd" />
                        </svg>
                    </span>

                    <span class="hidden sm:block"> Subject </span>

                    <svg class="h-6 w-6 sm:hidden" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M3 10h18M7 15h1m4 0h1m-7 4h12a3 3 0 003-3V8a3 3 0 00-3-3H6a3 3 0 00-3 3v8a3 3 0 003 3z" />
                    </svg>
                </li>
                <li class="relative flex justify-end">
                    <span class="absolute -bottom-[1.75rem] end-0 rounded-full bg-gray-600 text-white">
                        <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd"
                                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                clip-rule="evenodd" />
                        </svg>
                    </span>

                    <span class="hidden sm:block"> Answers </span>

                    <svg class="h-6 w-6 sm:hidden" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M3 10h18M7 15h1m4 0h1m-7 4h12a3 3 0 003-3V8a3 3 0 00-3-3H6a3 3 0 00-3 3v8a3 3 0 003 3z" />
                    </svg>
                </li>
            </ol>
        </div>
    </div>
    <div class="mt-8">



        <!-- <form  class="max-w-md mx-auto py-8">
            <div *ngIf="step==1"  (click)="step= +1">
                <div class="relative z-0 w-full mb-5 group">
                    <input [(ngModel)]="data.text" type="text" name="floating_name" id="floating_name"
                        class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none  focus:outline-none focus:ring-0 focus:border-[#5EEAD4] peer"
                        placeholder=" " required />
                    <label for="floating_name"
                        class="peer-focus:font-medium absolute text-sm text-gray-500  duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-[#5EEAD4]  peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">
                        text Name </label>
                </div>
                <div class="relative z-0 w-full mb-5 group">
                    <input [(ngModel)]="data.type" type="number" name="floating_point" id="floating_point"
                        class=" text-black block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none  focus:outline-none focus:ring-0 focus:border-[#5EEAD4] peer"
                        placeholder=" " required />
                    <label for="floating_point"
                        class="peer-focus:font-medium absolute text-sm text-gray-500  duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-[#5EEAD4]  peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">type</label>
                </div>
                <div class="relative z-0 w-full mb-5 group">
                    <input [(ngModel)]="data.level" type="number" name="repeat_minPoint" id="floating_repeat_minPoint"
                        class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none  focus:outline-none focus:ring-0 focus:border-[#5EEAD4] peer"
                        placeholder=" " required />
                    <label for="floating_repeat_minPoint"
                        class="peer-focus:font-medium absolute text-sm text-gray-500  duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-[#5EEAD4]  peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">level</label>
                </div>
    
                <button 
                    class="text-white bg-[#2892D7] hover:bg-[#173753] focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center ">next</button>
            </div>
            <div *ngIf="step==2">
                step 2
            </div>
            
        </form> -->
        <form class="max-w-md mx-auto py-8" (submit)="save()"> 
            <div *ngIf="step === 1">
                <!-- Div with inputs -->
                <div class="relative z-0 w-full mb-5 group">
                    <input [(ngModel)]="questionReq.text" type="text" name="floating_name" id="floating_name"
                        class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-[#5EEAD4] peer"
                        placeholder=" " required />
                    <label for="floating_name"
                        class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-[#5EEAD4] peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">
                        text Name
                    </label>
                </div>
                <div class="relative z-0 w-full mb-5 group">
                    <select [(ngModel)]="questionReq.type" name="type" id="type"
                        class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-[#5EEAD4] peer"
                        required>
                        <option value="" disabled>Select Type</option>
                        <option value="multiChoice">
                            MultiChoice
                        </option>
                        <option value="singleChoice">
                            SingleChoice
                        </option>
                        <option value="direct">
                            Direct
                        </option>
                    </select>
                </div>
                <div class="relative z-0 w-full mb-5 group">
                    <select [(ngModel)]="questionReq.level_id" name="level" id="level"
                        class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-[#5EEAD4] peer"
                        required>
                        <option value="">Select Level</option>
                        <option *ngFor="let level of levels" [value]="level.id">
                            {{ level.name }}
                        </option>
                    </select>
                    <label for="level"
                        class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-[#5EEAD4] peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">
                        Level
                    </label>
                </div>
                <button
                    class="text-white bg-[#2892D7] hover:bg-[#173753] focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center"
                    (click)="step = step + 1">
                    next
                </button>
            </div>
            <div *ngIf="step === 2">
                <button class="bg-green-500 rounded ml-96 to-12 text-white font-semibold" [routerLink]="['/media']">
                    Import
                </button>
                <div class="w-60 bg-red-200  m-auto border mb-4" >
                    <div *ngIf="selectedMedia" class="flex flex-row gap-2 flex-wrap bg-red-200"  >
                        <div *ngIf="selectedMedia.type === 'Video'">
                            <video [src]="selectedMedia.link" autoplay></video>
                        </div>
                        <div *ngIf="selectedMedia.type === 'Image' || selectedMedia.type === 'Gif'">
                            <img [src]="selectedMedia.link" alt="">
                        </div>
                    </div>
                </div>
                <div class="flex gap-2 flex-wrap border border-black p-2 items-center" >
                    <div *ngFor="let item of Medias" class="w-24  " [attr.data-value]="item.id" >
                        <div class="w-full h-full">
                            <div *ngIf="item.type === 'Video'">
                                <video [src]="item.link" autoplay (click)="selectMedia(item)"></video>
                            </div>
                            <div *ngIf="item.type === 'Image' || item.type === 'Gif'">
                                <img [src]="item.link" alt="" (click)="selectMedia(item)"
                                    [class.selected]="item === selectedMedia">
                            </div>
                        </div>
                    </div>
                </div>
                <button
                    class="text-white bg-[#2892D7] hover:bg-[#173753] focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center"
                    (click)="step = step + 1">
                    next
                </button>
            </div>
            <div *ngIf="step === 3">
                <div>
                    <!-- <div>
                        <form (submit)="findSubject()">
                            <label for="default-search"
                                class="mb-2 text-sm font-medium text-gray-900 sr-only ">Search</label>
                            <div class="relative">
                                <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                                    <svg class="w-4 h-4 text-gray-500 " aria-hidden="true"
                                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                            stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                                    </svg>
                                </div>
                                <input type="search" id="default-search" [(ngModel)]="searchTerm"
                                    class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 "
                                    placeholder="Search Mockups, Logos..." required>
                                <button  class="text-white absolute end-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Search</button>
                            </div>
                        </form>
                    </div> -->

                    <div class="relative z-0 w-full mb-5 group mt-8">
                        <select [(ngModel)]="questionReq.subject_id" name="level" id="level"
                            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-[#5EEAD4] peer"
                            required>
                            <option value="">Select Subject</option>
                            <option *ngFor="let item of Subjects" [value]="item.id">
                                {{ item.title }}
                            </option>
                        </select>
                        <label for="level"
                            class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-[#5EEAD4] peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">
                            Subject
                        </label>
                    </div>

                </div>
                <button
                    class="text-white bg-[#2892D7] hover:bg-[#173753] focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center"
                    type="submit">
                    next
                </button>
                
            </div>
        </form>
            <div *ngIf="step === 4">
               <app-answers-from></app-answers-from>
                <button
                    class="text-white bg-[#2892D7] hover:bg-[#173753] focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center"
                    (submit)="save()">
                    Save
                </button>
            </div>
      

    </div>
</div>