
<app-navbar></app-navbar>
<div class="flex flex-row my-28 m-16 gap-8 h-[50vh] justify-center">
    <div
      class="w-1/2 rounded p-8 flex flex-col items-center shadow-lg drop-shadow-lg transition-colors duration-150 hover:bg-[#36F1CD] hover:bg-opacity-10"
    >
      <div class="text-2xl font-extrabold">
        <span class="text-[#39a0ed]"> Student </span>Space
      </div>
      <div
        class="mt-8 text-xl font-meduim flex flex-col items-center justify-between ">
        <div class="flex items-center ">
          <div class="bg-[#36F1CD] p-4 font-bold w-1/2  ">
            Ready for you Quiz test .  Quiz It Now <br />
            
          </div>
          <div class="w-1/2">
            <img src="/img/quiz.png" alt=""  />
          </div>
        </div>
        <div>
          <button class="bg-[#173753] text-white p-2 rounded">
            Login to my space
          </button>
        </div>
      </div>
    </div>
    <div
    class="w-1/2 rounded p-8 flex flex-col items-center shadow-lg drop-shadow-lg hover:bg-[#36F1CD] hover:bg-opacity-10">
    <div class="text-2xl font-extrabold">
      <span class="text-[#39a0ed]"> Trainer </span>Space
    </div>
    <div
      class="mt-8 text-xl font-meduim flex flex-col items-center justify-between ">
      <div class="flex items-center ">
        <div class="bg-[#36F1CD] p-4 font-bold w-1/2  ">
          It's Time for Create New Quiz !<br />
          
        </div>
        <div class="w-1/2">
          <img src="/img/quiz.png" alt=""  />
        </div>
      </div>
      <div>
        <button class="bg-[#173753] text-white p-2 rounded">
          Login to my space
        </button>
      </div>
    </div>
  </div>
</div>